<div class="container">
  <h3>Payment Form</h3>
  <div class="row">
    <div class="form-group col">
      <label for="">Payee Name </label>
      <input
        class="form-control"
        #reveiverName
        (input)="onNameChange(reveiverName.value)"
      />
    </div>
    <div class="col">
      <label><b>Name</b></label>
      <div>{{ name | titlecase }}</div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label for="">Payment Date </label>
      <input
        class="form-control"
        type="date"
        #paymentDate
        (input)="onDateChange(paymentDate.value)"
      />
    </div>
    <div class="col">
      <label><b>Payment Date</b></label>
      <div>{{ date | date: "MMMM d,y" }}</div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label for="">Payment Amount </label>
      <input
        class="form-control"
        #paymentAmount
        (input)="onAmountChange(paymentAmount.value)"
      />
    </div>
    <div class="col">
      <label><b>Payment Amount</b></label>
      <div>{{ amount | currency: "JPY" }}</div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label for="">Height </label>
      <input
        class="form-control"
        #aHeight
        (input)="onHeightChange(aHeight.value)"
      />
    </div>
    <div class="col">
      <label><b>Height</b></label>
      <div>{{ height | number: "1.1-3" }}</div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label for="">Miles</label>
      <input
        class="form-control"
        #aMiles
        (input)="onMilesChange(aMiles.value)"
      />
    </div>
    <div class="col" *ngIf="(miles | convert: 'km') > 100">
      <label><b>Miles</b></label>
      <div>{{ miles | convert: "km" | number: "1.0-2" }}</div>
    </div>
  </div>
</div>
